
$font-varela        : 'Varela Round', sans-serif; 

$font-Libre         : "Libre Baskerville"; 

$font-handlee       :  'Handlee', cursive; 







$bg-color-1       : #ebebeb;


$theme-color      : #f878ab;


$link-color       : #fa93bd;


$pink-color       : #fd5a9d;

$blue-color       : #083465;


$white            : #FFFFFF;
$black            : #000000;
$dark-gray        : #7F7F7F;
$light-gray       : #C0C0C0;
$green            : #5CB85C;
$light-blue       : #5BC0DE;
$red              : #D9534F;
$yellow           : #F0AD4E;
$blue             : #0000FF;







